{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>City Page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="jquery-1.12.4.min.js"></script>
    <style type="text/css">
      #selectedCity{
        margin-left: 5%;
        font-size: 1.3em;
      }
      #eventButton{
        font-size: 1.1em;
      }

    </style>
</head>
    <body>
        {% if city %}
        <p id="selectedCity">See how {{city.destination }} prices compare to other popular destintations out of SFO</p>
        <br>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#home" data-toggle="tab">Home</a></li>
        <li><a data-target="#profile" data-toggle="tab">Profile</a></li>
<!--         <li><a data-target="#messages" data-toggle="tab">Messages</a></li>
        <li><a data-target="#settings" data-toggle="tab">Settings</a></li> -->
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="home">Home</div>
        <div class="tab-pane" id="profile"><div id="usMap"></div></div>
<!--         <div class="tab-pane" id="messages"></div>
        <div class="tab-pane" id="settings">Settings</div> -->
      </div>


    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{city.origin_airport }} <span class="glyphicon glyphicon-chevron-right"></span> {{city.destination_airport}}</h3>
          <p>{{city.destination_info}}</p>
        </div>
      </div>      
    </div>

  </div>
</div>
        <br>
        <script>


    Plotly.d3.csv('https://raw.githubusercontent.com/knalavadi/Travel_App/master/templates/flight_info.csv', function(err, rows){
      function unpack(rows, key) {
          return rows.map(function(row) { return row[key]; });
      }

    var cityName = unpack(rows, 'name'),
        cityFare = unpack(rows, 'fare'),
        cityLat = unpack(rows, 'lat'),
        cityLon = unpack(rows, 'long'),
        color = [,"rgb(255,65,54)","rgb(133,20,75)","rgb(255,133,27)","lightgrey"],
        citySize = [],
        hoverText = [],
        scale = 20;

    for ( var i = 0 ; i < cityFare.length; i++) {
      var currentSize = cityFare[i] / scale;
      var currentText = cityName[i] + "<br>Lowest Fare: $" + cityFare[i];
      citySize.push(currentSize);
      hoverText.push(currentText);
    }


    var data = [{
        type: 'scattergeo',
        locationmode: 'USA-states',
        lat: cityLat,
        lon: cityLon,
        text: hoverText,
        hoverinfo: 'text',
        marker: {
            size: citySize,
            line: {
                color: 'black',
                width: 2
            },
        }
    }];

    var layout = {
        title: 'Flight Fares out of SFO',
        showlegend: false,
        geo: {
          scope: 'usa',
          projection: {
            type: 'albers usa'
          },
          showland: true,
          landcolor: 'rgb(217, 217, 217)',
          subunitwidth: 1.5,
          countrywidth: 1.5,
          subunitcolor: 'rgb(255,255,255)',
          countrycolor: 'rgb(255,255,255)'
        },
    };

    Plotly.plot(usMap, data, layout, {showLink: false});
});

    // ===================================================================

jQuery(function () {
    jQuery('#myTab a:last').tab('show')
})


        </script>
        <form action='/city_event_page' method='POST'>
            <a href="/city_event_page/{{city.destination}}"><button type="button" class="btn btn-default btn-lg btn-block" id="eventButton">check out events in {{ city.destination }}</button>
            {% endif %}
            </a>
        </form>
    {% endblock %}
    </body>
</html>
