{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Event Page</title>

</head>
<body>

{% for event in events %}


<!-- <div class="row" style="margin:5%">
  <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div> -->
</div>
    <div class="row" style="margin:5%">

    <div class="col-xs-6 col-md-4"><img src="pic_mountain.jpg" alt="Mountain View" style="width:300px;"></div>

     <div class="col-xs-12 col-sm-6 col-md-8">
        <h3 id="eventName">{{ event.event_name }} </h3>
        <span class="glyphicons glyphicons-envelope"></span>
        <p>{{ event.event_date }}</p>
         <p>{{ event.event_time }}</p>
        <p>{{ event.event_location }}</p> 
        <p>{{ event.event_cost }}</p> 
        <p>{{ event.event_theme }}</p></div>    

    </div>

    </div>    
</div>

{% endfor %}
{% endblock %}
</body>
</html>