{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Event Page</title>
    <script type="text/javascript"<a onclick="javascript:window.location='mailto:?subject=Message from '+document.getElementById('address').value+'&body='+document.getElementById('message').value">Submit</a></script>
    <style type="text/css">

        #selectedCity{
        margin-left: 5%;
        font-size: 1.5em;
      }


    </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
            {% if city_event_destination %}
                <p id="selectedCity">{{ city_event_destination.destination }} events for you</p><br>
            {% endif %}

            {% for event in events %}
            <div class="row" style="margin:5%">
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <h3 id="eventName">{{ event.event_name }} </h3><a href="mailto:?subject={{event.event_name}}&body=Check%20out%20the%20{{event.event_name}}%20at%20the%20{{event.event_location}}%20on%20{{ event.event_date }}%20at%20{{ event.event_time }}" class="button">Email this event</a>
                        <p>{{ event.event_date }}</p>
                        <p>{{ event.event_time }}</p>
                        <p>{{ event.event_location }}</p> 
                        <p>{{ event.event_cost }}</p> 
                        <p>{{ event.event_theme }}</p>
                    </div>    
            </div> 
            {% endfor %}
        {% endblock %}
    </div>
  </div>
</div>        


</script>
</body>
</html>