<!DOCTYPE HTML>
<html>
<head>
    <title>Register Form</title>
</head>
<body>
    <form action="/register" method="POST">
        <h3>Please input your username and password</h3>
        <label for="field-email">Email:</label><br>
        <input type="text" name="email" id="field-firstname"></input><br>
        <label for="field-password">Password:</label><br>
        <input type="text" name="password" id="field-firstname"></input><br><br>
        <input type="submit"></input><br>
    </form>
</body>
</html>